@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');

:root {
  --header-font: 'Varela Round', sans-serif;
  --body-font: 'Montserrat', sans-serif;
}
* {
  margin: 0;
  box-sizing: border-box;
}
html,body {
  overflow-x: hidden;
}
body {
  font-family: var(--header-font);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
.head-main {
  font-family: var(--body-font);
  font-size: 30px;
}
button, input, textarea, section {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
img, video, canvas, svg {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}